@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --hText-color: white;
  --pText-color: #525252;
  --dark-primary: black;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  color: var(--hText-color);
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

div,
p {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--hText-color);
}

a:hover {
  text-decoration: underline;
}

svg:hover {
  fill: var(--pText-color);
}

a:active {
  color: var(--pText-color);
}

a:focus {
  color: var(--pText-color);
}

#logo {
  position: absolute;
  margin: 3.5% 0 0 3.5%;
  width: 20%;
  max-width: 100px;
  top: 0;
  left: 0;
}

/* Navigation */
nav {
  background-color: var(--dark-primary);
  z-index: 10;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  margin: 0;
  padding: 0;
  margin-top: -5vh;
  position: absolute;
  height: 105vh;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-weight: bold;
  background: var(--dark-primary);
  color: var(--hText-color);
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  font-size: 2.5rem;
}
.nav-links li {
  margin-left: 3.5%;
  margin-top: 5%;
  opacity: 0;
}

.burger {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0.35rem;
  top: 0.55rem;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

/* Header */
.header-container {
  margin-top: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3.5%;
}
.intro {
  font-size: 0.75rem;
  font-weight: 100;
  margin-bottom: -1%;
}

h1 {
  font-size: calc(1rem + 10vw);
  font-weight: 900;
  letter-spacing: 0.5vw;
  color: var(--hText-color);
  padding: 0;
  margin: 0 0 0 -0.5%;
}

h2 {
  font-size: calc(1rem + 10vw);
  font-weight: 700;
  letter-spacing: 0.5vw;
  color: var(--hText-color);
  padding: 0;
  margin: 0 0 0 -0.5%;
}

h4 {
  margin: 5% 0 2% 0;
  padding: 0;
}

.ben {
  color: var(--pText-color);
}

.memo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: calc(1rem + 2vw);
  margin-top: -2%;
  color: var(--pText-color);
}

.contact-button {
  margin-top: 5%;
}
.contact-button a {
  font-weight: bold;
  font-size: calc(1rem + 2vw);
  color: var(--hText-color);
}

/* Work */
#work {
  margin-left: 3.5%;
  margin-right: 10%;
}

#work h1 {
  font-weight: 700;
}

#work img {
  width: 70%;
  max-height: 50%;
}
#work img:hover {
  opacity: 0.5;
}

.project {
  margin-top: 20vh;
}

.first {
  margin-top: 5vh;
}
.description-container .title {
  font-size: 1.5rem;
  padding: 2% 0;
  font-weight: 600;
}

.description {
  color: var(--pText-color);
  max-width: 40ch;
  line-height: 1.5;
}

.btnContainer {
  margin-top: 2rem;
}

#work a {
  font-weight: 700;
  margin-right: 2rem;
}

/* About */

#about {
  margin-left: 3.5%;
  margin-right: 7%;
}
#about .title {
  font-weight: 700;
  margin-top: 50vh;
}

#about p {
  margin-top: 2rem;
  line-height: 1.5;
}

/* Contact */
#contact {
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.info-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

#contact .title {
  margin-top: 50vh;
  margin-bottom: 5vh;
  font-weight: 700;
}

#contact svg {
  width: 42px;
  height: auto;
}

#contact svg:hover path {
  width: 42px;
  height: auto;
  fill: var(--pText-color);
}

#contact svg:active path {
  fill: var(--pText-color);
}

#contact p {
  color: var(--pText-color);
  margin-left: 1rem;
}

.desktop-menu {
  font-size: 0.75rem;
  z-index: 10;
  font-weight: 700;
  color: var(--pText-color);
  visibility: hidden;
}

.desktop-menu a {
  color: var(--pText-color);
}
.desktop-menu-active {
  visibility: visible;
  opacity: 1;
}

/* Toggle Burger */
.menu {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Burger Animation */
.menuRotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--hText-color);
  stroke-width: 8;
  stroke-linecap: square;
}

.top {
  stroke-dasharray: 40 160;
}

.middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.active .top {
  stroke-dashoffset: -64px;
}

.active .middle {
  transform: rotate(90deg);
}

.active .bottom {
  stroke-dashoffset: -64px;
}

/* Animate nav links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (max-width: 344px) {
  .intro {
    font-size: 0.5rem;
    margin-left: -0.25%;
  }

  h1 {
    font-size: 2rem;
  }

  .memo {
    font-size: 0.75rem;
  }

  .contact-button a {
    font-size: 0.75rem;
  }

  #work .description {
    font-size: calc(0.5rem + 1vw);
  }
  #work .btnContainer {
    font-size: calc(0.5rem + 1vw);
  }

  #about p {
    font-size: calc(0.5rem + 1vw);
  }

  #contact svg {
    width: 42px;
    height: auto;
  }

  #contact p {
    margin-left: 5%;
    font-size: calc(0.25rem + 3vw);
  }
}
@media (min-width: 1025px) {
  #logo {
    margin-left: 10%;
  }

  .intro {
    margin-top: 30vh;
    font-size: 1rem;
    margin-left: -0.2%;
  }

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 6rem;
  }
  h4 {
    margin: 0;
    padding: 0;
  }

  .memo {
    font-size: 2rem;
    margin-left: -0.2%;
  }

  .contact-button a {
    font-size: 2rem;
  }

  #work {
    margin-top: 50vh;
    margin-left: 10%;
  }
  #about {
    margin: 0;
    margin-left: 10%;
  }
  #contact {
    margin: 0;
    margin-left: 10%;
  }
  .header-container {
    margin: 0;
    margin-left: 10%;
  }
  .description {
    max-width: 45ch;
  }
  .burger {
    display: none;
  }
  .contact-button {
    font-weight: bold;
    font-size: 2rem;
    color: var(--hText-color);
  }

  .desktop-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1rem;
    top: 1rem;
    right: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
  }

  .desktop-menu-active {
    visibility: visible;
    opacity: 1;
  }

  .current-section,
  a.current-section {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--hText-color);
    transition: all 0.2s linear;
  }
}

@media (min-width: 1500px) {
  #logo {
    max-width: 175px;
  }
  .intro {
    font-size: 2.5rem;
    margin-left: -0.25%;
  }

  h1,
  h2 {
    font-size: 10rem;
  }

  .memo {
    font-size: 4rem;
  }

  .contact-button a {
    font-size: 4rem;
  }

  .desktop-menu {
    font-size: 1.5rem;
  }

  a.current-section {
    font-size: 2.5rem;
  }

  #work .title {
    font-size: 4rem;
  }
  .description {
    font-size: 2rem;
  }

  #work img {
    max-width: 1000px;
  }

  #work .description {
    font-size: calc(2rem + 0.5vw);
  }
  #work .btnContainer {
    font-size: calc(2rem + 0.5vw);
  }

  #about p {
    font-size: calc(2rem + 0.5vw);
  }

  #contact svg {
    width: 3vw;
    height: auto;
  }

  #contact p {
    margin-left: 1%;
    font-size: calc(2rem + 0.5vw);
  }
}
