@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --hText-color: white;
  --pText-color: #525252;
  --dark-primary: black;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  height: 1000vh;
}

li {
  list-style: none;
}

 div, p{
   padding: 0;
   margin: 0;
   line-height: 95%;
 }

 a {
   outline: none;
   text-decoration: none;
   color: var(--hText-color);
   /* color: white; */
 }

 a:hover {
   text-decoration: underline;
 }

 a:active {
   color: var(--pText-color);
 }

 a:focus {
   color: var(--pText-color);
 }

 #logo {
  position: absolute;
  margin: 3.5% 0 0 3.5%;
  width: 10%;
  max-width: 100px;
  top: 0;
  left: 0;
}

/* Navigation */
nav {
  background-color: var(--dark-primary);
  z-index: 10;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links{
  margin: 0;
  padding: 0;
  margin-top: -5vh;
  position: absolute;
  height: 105vh;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-weight: bold;
  background: var(--dark-primary);
  color: var(--hText-color);
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  font-size: 2.5rem;
} 
.nav-links li {
  margin-left: 3.5%;
  margin-top: 5%;
  opacity: 0;
}

.nav-links li:last-child {
  margin-bottom: 70px;
}

.burger {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0.75rem;
  top: 0.75rem;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

.header-container {
  margin-top: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3.5%;
}
.intro {
  font-size: clamp(10px, 1vw, 70px);
  font-weight: 100;
}

h1 {
  font-size: 1em; /* Review */
  font-size: clamp(3rem, 10vw, 300px); /* Review */
  font-weight: 900;
  letter-spacing: 0.5vw;
  color: var(--hText-color);
  padding: 0;
  margin: 0;
}

.name {
  font-size: clamp(30px, 10vw, 300px);
}

.ben {
  color: var(--pText-color);
}

.memo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 120px);
  margin-top: 0.5%;
  color:  var(--pText-color);
}

.contact-button{
  font-weight: bold;
  margin-top: 5%;
  color: var(--hText-color);
}


@media(min-width: 500px) {
  .header-container {
    margin-left: 7%;
  }
}

/* _________________________________________ */



@media(min-width:400px) {
  #logo {
    margin-left: 7%;
  }
  .burger {
    display: none;
    /* margin-right: 35px; */
  }
  .nav-links {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: right;
  } 
  .nav-links li {
    list-style: none;  
  }
  .nav-links li:last-child {
    margin-right: 20px;
  }

}

 /* Work */
#work {
  margin-left: 3.5%;
  margin-right: 3.5%;
}

#work h1 {
  font-weight: 700;
}

#work img {
  width: 100%;
}

.project {
  margin-top: 20vh;
}

.first {
  margin-top: 5vh;
}
.title {
  font-weight: 600;
}

.description {
  color: var(--pText-color);
  max-width: 75ch;
}

.btnContainer {
  margin-top: 5%;
}

#work a {
  font-weight: 700;
  margin-right: 2rem;
}

/* About */

#about {
  margin-left: 3.5%;
}
#about .title {
  font-weight: 700;
  margin-top: 50vh;
}

#about p {
  margin-top: 2rem;
  line-height: 1.5;
}

/* Contact */
#contact {
  margin-left: 3.5%;
}

.info-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}

#contact .title {
  margin-top: 50vh;
  margin-bottom: 5vh;
  font-weight: 700;
}

#contact img {
  width: 42px;
}

#contact img:hover {
  fill: var(--pText-color);
}

#contact p {
  color: var(--pText-color);
  margin-left: 1rem;
}

/* _________________________________________ */

/* 
.socials {
  margin-top: 5%;
  font-size: clamp(10px, 2vw, 150px);
  margin-left: 0.20%;
} */

/* @media(max-width:350px) {
  .container {
    margin-left: 0%;
  }
  .intro {
    font-size: 5vw;
  }
  .name {
    margin-top: 5%;
    font-size: 15vw;
  }
  .memo {
    font-size: 7vw;
    margin-top: 3%;
  }
  a {
    margin-right: 3%;
    font-size: 25px;
  }
  .socials {
    margin-top: 17%;
  }
}

@media (max-width:200px) {
  a {
    font-size: 15px;
  }
} */

/* Animate nav links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  } to {
    opacity: 1;
    transform: translateX(0px)
  }
}


/* Toggle Burger */
.menu {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Burger Animation */
.menuRotate.active {
  transform: rotate(45deg);
}


.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:var(--hText-color);
  stroke-width:8;
  stroke-linecap:round;
}

.top {
  stroke-dasharray: 40 160;
}

.middle {
stroke-dasharray: 40 142;
transform-origin: 50%;
transition: transform 400ms;
}

.bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.active .top {
  stroke-dashoffset: -64px;
}

.active .middle {
  transform: rotate(90deg);
}

.active .bottom {
  stroke-dashoffset: -64px;
}
/* ____________________________ */
/* archive */
/* 
.burger div {
  width: 25px;
  height: 3px;
  background-color:var(--hText-color);
  margin: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
} */